@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  color: #1a1a1a;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  #bannerText, #homeText {
    text-shadow: hsl(196, 100%, 40%) -2px 2px;
    color: white;
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff5eb;
    background-color: #0d0d10;
  }
  
  a:hover {
    color: #f84848;
  } 
  button {
    background-color: #3a3a3a;
  }

}

#cardp, #cardt, #card {
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}
@keyframes arrow {
  0% {
    transform: translateY(-10px)
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(-10px);
  }
}

#arrow{
  rotate: 180deg;
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#arrow2 {
  animation-name: arrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#sidebar div{
  border-radius: 0%;
}



